<html>
<body>
<p><strong>Nom</strong> : {{ name }}</p>
<p><strong>Email</strong> : {{ email }}</p>
<p><strong>Téléphone</strong> : {{ phone }}</p>
<p><strong>Message</strong> : {{ message }}</p>
</body>
</html>